
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #ffffff;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 25px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #333; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; 
    background-color: rgba(0, 123, 255, 0.1);
}

nav ul li a.active {
    color: #ffffff; 
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2); 
    font-weight: 700;
}


nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 45px;
    background: #ffffff; 
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); 
}

nav ul li ul li a {
    color: #333;
    font-size: 1em;
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li ul li a:hover {
    background-color: #007bff; 
    color: #ffffff; 
    
}
.product {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 3em;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .product-table td {
    color: #555;
  }
  
  @media (max-width: 768px) {
    .product-table {
      font-size: 14px;
    }
  }
  

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav ul li a {
        font-size: 1em;
        padding: 10px 15px;
    }
}
